html, body {
	     margin: 0;
	     padding: 0;
}

.Logo {
       width: 100%;
} 

.LogoContainer {
                width: 50px;
                height: 50px;
}

.left {
	display: inline-block;
	width: 50%;
}

.right {
	 display: inline-block;
	 width: 50%;
}

.container {
	     display: flex;
	     flex-wrap: wrap;
}

.AppStoreImg {
	       width: 122px;
	       height: 44px;
}

.RightImg {
	    width: 400px;
	    height: 400px;
}

.bottom {
         text-align: center;
         font-size: 30px;
         margin-top: 150px;
         padding: 50px;
         background-color: #FAFAFA;
}     

.menuItem {
	    text-decoration: none;
	    color: inherit;
	    margin-left: 30px;
	    font-size: 15px;
}

.menuItem:hover {
	          border-bottom-style: solid;
	          border-bottom-color: gold;
}


.blockElement {
	        display: block;
	        margin-top: 10px;
	        margin-bottom: 20px;
	        border: none;
	        background-color: #F6F6F6;
	        height: 35px;
	        width: 220px;
	        border-radius: 15px;
	        outline: none;
	        padding-left: 15px;
	        padding-right: 15px;
	        font-size: 16px;
}

.yanyan {
	  background-color: #0084ff;
	  border-radius: 24px;
	  border: none;
	  color: white;
	  paddding: 2px 20px;
	  font-size: 19px;
	  height: 40px;
	  width: 100px;
}

.inputSpan {
	     margin-bottom: 20px;
}

.password {
           margin-bottom: 20px;
}

.mainContainer {
                max-width: 1024px;
                margin: 0 auto;
                height: 2000px;
}

.header {
         display: flex;
         flex-direction: row;
         justify-content: space-around;
         align-items: center;
         height: 100px;
         position: sticky; 
         top: 0;
         border-bottom: 1px solid lightgray;
         background-color: #FAFAFA;
         opacity: 0.9;
}

.inner: {
	  width: 50%;
}

.titleHeader {
	       margin-bottom: 20px;
}

.description {
	       margin-bottom: 20px;
}

.mobileMenuContainer {
                      display: none;
}

@media (max-width: 767px) {
  .menuContainer {
  	display: none;
  }

  .mobileMenuContainer {
  	display: block;
  }

  .left {
  	  width: 100%;
  	  margin-bottom: 50px;
  }

  .inner {
  	   padding-left: 90px;
  	   width: 65%;
  }

  .right {
  	   width: 100%;
  	   overflow: hidden;
  	   text-align: center;
  }

  .RightImg {
  	      margin: 0 50%;
  }  
}

@media (max-width: 375px) {
	.inner {
		 width: 95px;
	}

	.bottom {
		  margin-top: 30px;
		  font-size: 20px;
		  padding: 10px;
	}
}

